*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 450px;
    margin: 85px auto;
    border-radius: 50px;
    background-color:rgb(231, 231, 231); 
    box-shadow: 10px 10px rgb(4, 5, 5);

}

.content{
    padding: 15px;
    text-align: center;
}
.content p{
    margin: 0;
    padding: 5px 0;
}
.content h3{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
font-size: 25px;
}

.content h4{
    font-size: 20px;
}
.content img{
    max-width: 55%;
    border-radius: 100%;
    box-shadow: #000;
    margin:30px ;
    margin-bottom: 15px;

}

#currentDayOfTheWeek{
    font-weight: 700;
}

#currentUTCTime{
    font-weight: 700;

}
button{
    background-color:#000;
    border: none;
    padding: 8px;
    border-radius: 15px;
    margin: 15px;
}

button a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 15px;
}

button:hover{
    background-color: rgb(35, 96, 35);
}

.week{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.day {
    border: 3px solid green;
    padding: 8px;
    border-radius: 15px;
}